# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
*.env
*.env.*

# Vite cache
.vite/

# VS Code settings
.vscode/

# Mac system files
.AppleDouble
.LSOverride
Icon?

# TypeScript cache
*.tsbuildinfo

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage
coverage/

# Misc
*.local
