@use "../../variables";

.MainNav {
    z-index: 1000;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 15px 20px;
    background-color: variables.$gray100-opaque95;
    color: white;
}