@use "../../variables";

.MainNav {
    z-index: 1000;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: variables.$gray10;
}