// ** Colors **
$pure-black: rgb(0, 0, 0);

$green90: rgb(19, 59, 30);

$gray10: rgb(210, 210, 210);
$gray25: rgb(175, 175, 175);
$gray40: rgb(151, 151, 151);


// ** Breakpoints **
$tablet: 600px;
$tabletLarge: 900px;
$desktop: 1180px;
$desktopLarge: 1440px;
$siteMax: 2400px;


// ** Drop-Shadows **
$dropShadow-standard: drop-shadow(4px 6px 5px rgb(168, 168, 168));